@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Roboto:400,700&subset=latin,greek);
html { background: #fafafa; font-size: 14px; line-height: 1.6em; color: #444;
    font-family: Merriweather, Georgia, 'Times New Roman', serif; }
body { width: 40em; margin: 3em auto; }
hr { border: none; border-bottom: 1px solid #aaa; }
a, a:link { color: #c03767; text-decoration: none; transition: .1s ease-out color; }
a:visited { color: #857086; }
a:hover { color: #e081a2; }
h1, h2, h3 { font-family: Roboto, sans-serif; }
h1 { border-bottom: 10px solid #efd2dc; font-size: 60px; line-height: 1em;
    text-transform: lowercase; }
h2 { border-top: 5px solid #ccc; padding-top: .8em; }
#toc, #toc ul { list-style: none; }
#toc { position: fixed; left: 0; top: 1em; font-size: .95em; line-height: 1.4em;
    font-family: Roboto; }
#toc .active { font-weight: bold; }

